@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Inter:wght@400;500;600&display=swap');

:root {
  --primary-color: #F2B705;
  --secondary-color: #1E1E1E;
  --text-primary: #FFF;
  --text-secondary: #CCC;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color) !important;
  color: var(--text-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--secondary-color);
}

.App {
  flex: 1;
}

code {
  font-family: 'JetBrains Mono', monospace;
  color: var(--primary-color);
}